@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!--Justt Added my info and a picture of the school-->
<address>
    Kalamazoo Valley Community College<br />
    230 North Rose Street<br />
    <abbr title="Phone">P:</abbr>
    269-488-4400
</address>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">jwaller8642@mail.kvcc.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<body>
    <center><img src="http://cdn.stateuniversity.com/assets/logos/images/4318/large_kvcc-welcome.jpg" /></center>
</body>
